version: '3.8'

services:
  # The Message Broker
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5673:5672"   # RabbitMQ Port
      - "15673:15672" # Management UI Port
    environment:
      - RABBITMQ_DEFAULT_USER=planner
      - RABBITMQ_DEFAULT_PASS=planner

  planner-api:
    build:
      context: .
      dockerfile: src/Planner.API/Dockerfile
    ports:
      - "5000:5000"
      - "7085:7085"
    depends_on:
      - rabbitmq
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000;http://+:7085 
      - ConnectionStrings__PlannerDb=Server=host.docker.internal;Database=PlannerDB;User Id=sa;Password=Passw0rd!@++;Encrypt=False;TrustServerCertificate=True;
      - SignalR__Server=http://localhost:7085
      - SignalR__Client=http://localhost:7014
      - SignalR__Route=/hubs/planner
      - RabbitMq__Host=rabbitmq  # Use the service name defined above
      - RabbitMq__User=planner
      - RabbitMq__Pass=planner
      - RabbitMq__Port=5672      # Internal container port
      - JwtOptions__Issuer=PlannerAPI
      - JwtOptions__Audience=PlannerClient
      - JwtOptions__Secret=p7Q$2mK#v9WzLx!5nR8bYcE@1tGj4sH6uV9X
      - JwtOptions__SigningKey=m3N&8vP*1qRzTw$9bLxcY!2sDk5fJ7gH4uV0
      - JwtOptions__ExpirationInMinutes=60
 
  planner-optimization-worker:
    build:
      context: .
      dockerfile: src/Planner.Optimization.Worker/Dockerfile
    depends_on:
      - rabbitmq
      - planner-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - RabbitMq__Host=rabbitmq  # Use the service name defined above
      - RabbitMq__User=planner
      - RabbitMq__Pass=planner
      - RabbitMq__Port=5672      # Internal container port
      - SignalR__Server=http://localhost:7085
      - SignalR__Client=http://localhost:7014
      - SignalR__Route=/hubs/planner