@page "/mapcenter"
@rendermode InteractiveServer
@using Planner.BlazorApp.Components.DispatchCenter

<h3>Map Center</h3>

<PlannerMap DepotLat="-31.953823" DepotLon="115.876140" Height="500px" />

@code {
}
