name: Deploy Planner.Optimization.Worker

on:
  push:
    branches: [ "main" ]
    paths:
      - "src/Planner.Optimization.Worker/**"
      - ".github/workflows/deploy-worker.yml"

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Publish
      working-directory: ./src/Planner.Optimization.Worker
      run: dotnet publish -c Release --no-self-contained -o publish

    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy to planner-worker
      uses: azure/webapps-deploy@v3
      with:
        app-name: planner-worker
        package: ./src/Planner.Optimization.Worker/publish
