name: Deploy Planner.BlazorApp

on:
  push:
    branches: [ "main" ]
    paths:
      - "src/Planner.BlazorApp/**"
      - ".github/workflows/deploy-blazor.yml"

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Publish
      working-directory: ./src/Planner.BlazorApp
      run: dotnet publish -c Release --no-self-contained -o publish

    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy to planner-blazorapp
      uses: azure/webapps-deploy@v3
      with:
        app-name: planner-blazorapp
        package: ./src/Planner.BlazorApp/publish
