jobs:
- deployment: DeployBlazor
  displayName: 'Deploy Blazor WebAssembly'
  environment: 'production'
  pool:
    vmImage: 'windows-latest'
  strategy:
    runOnce:
      deploy:
        steps:
        - task: DownloadBuildArtifacts@1
          inputs:
            artifactName: 'drop'
            downloadPath: '$(System.ArtifactsDirectory)'

        - task: AzureWebApp@1
          displayName: 'Deploy Blazor WASM to Azure'
          inputs:
            azureSubscription: '$(azureSubscription)'
            appType: 'webApp'
            appName: '$(webAppNameBlazor)'
            package: '$(System.ArtifactsDirectory)/drop/blazor'
