@page "/scheduler"
@rendermode InteractiveServer
@using Planner.BlazorApp.Components

@inject IJSRuntime JS

<div class="scheduler-container">

    <div class="scheduler-layout">
        <div id="leftPane" class="left-pane">
            <RouteCentre @ref="center" />
        </div>
        <div id="rightPane" class="right-pane">
            <ControlPanel OnClearRoutes="HandleClearRoutes" OnSolve="HandleSolve" />
        </div>
    </div>

    <div class="status-bar">
        Status bar
    </div>
</div>
@code {
    private RouteCentre? center;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JS.InvokeVoidAsync("initSchedulerSplit");
    }

    private async Task HandleSolve(List<ControlPanel.Vehicle> vehicles)
    {
        await center!.HandleSolveAsync(vehicles);
    }

    private async Task HandleClearRoutes()
    {
        await center!.ClearRoutesAsync();
    }


    /*
        var request = new VrpRequestMessage {
            RequestId = $"Planner-{DateTime.Now:HHmmss}",
            Request = new VrpRequest {
                Depot = new DepotDto { Id = "Depot", Latitude = -31.9505, Longitude = 115.8605 },
                Vehicles = [.. vehicles.Select(v => new VehicleDto { Id = v.Id })],
                Jobs =
                [
                    new() { Id = "J1", Latitude = -31.9783, Longitude = 115.8180 },
                    new() { Id = "J2", Latitude = -32.0671, Longitude = 115.8957 },
                    new() { Id = "J3", Latitude = -31.9766, Longitude = 115.9213 }
                ],
                DistanceMatrix = [[0, 3, 5, 7, 9],[3, 0, 2, 6, 8],[5, 2, 0, 4, 7],[7, 6, 4, 0, 5],[9, 8, 7, 5, 0]]
            }
        };

        using var client = new HttpClient { BaseAddress = new Uri("https://localhost:7085/") };
        var response = await client.PostAsJsonAsync("api/vrp/solve", request);
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Received VRP solution from API.");
        }
     */
 
}
