<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Planner OR-Tools</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="linear-solver">
                <span class="bi bi-route" aria-hidden="true"></span> Linear Solver
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="route-map">
                <span class="bi bi-route" aria-hidden="true"></span> Map with Marks
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mapeasy">
                <span class="bi bi-route" aria-hidden="true"></span> Easy Map
            </NavLink>
        </div>
    </nav>
</div>

