@using Planner.Domain.Entities
@inject IJSRuntime JS
@inject IConfiguration Config

<div id="map" class="map-container position-relative w-100 h-100"></div>

@code {
    [Parameter] public string Width { get; set; } = "100%";
    [Parameter] public string Height { get; set; } = "100%";
    [Parameter] public double DepotLat { get; set; }
    [Parameter] public double DepotLon { get; set; }
    [Parameter] public List<MapMarker>? Customers { get; set; }
    [Parameter] public List<MapRoute>? Routes { get; set; }
    [Parameter] public EventCallback<MapPosition> JobPositionPicked { get; set; }

    private DotNetObjectReference<PlannerMap>? dotNetRef;

    private bool _initialized;
    public List<MapMarker>? existingCustomers = null;
    public List<MapRoute>? existingRoutes = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetRef = DotNetObjectReference.Create(this);

            var apiKey = Config["GoogleMaps:ApiKey"];
            var apiMapId = Config["GoogleMaps:MapId"];
            await JS.InvokeVoidAsync("loadGoogleMaps", apiKey);
            await JS.InvokeVoidAsync("plannerMap.initMap", DepotLat, DepotLon, apiMapId);
            await JS.InvokeVoidAsync("plannerMap.registerClickHandler", dotNetRef, nameof(OnMapClick));

            _initialized = true;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!_initialized) {
            return;
        }
        if (Routes != existingRoutes)
        {
            await JS.InvokeVoidAsync("plannerMap.updateRoutes", Routes);
            existingRoutes = Routes;
        }
        if (Customers != existingCustomers)
        {
            await JS.InvokeVoidAsync("plannerMap.updateCustomers", Customers);
            existingCustomers = Customers;
        }
    }

    [JSInvokable]
    public Task OnMapClick(MapPosition position) {
        if (JobPositionPicked.HasDelegate) 
            JobPositionPicked.InvokeAsync(position);
        return Task.CompletedTask;
    }


    public class MapRoute {
        public string RouteName { get; set; } = "";
        public string Color { get; set; } = "blue";
        public string Label { get; set; } = "";
        public List<MapMarker> Points { get; set; } = new();
    }

    public async Task ClearRoutes()
    {
        await JS.InvokeVoidAsync("plannerMap.clearRoutes");
    }

    public async Task ClearRoutesAsync()
    {
        await JS.InvokeVoidAsync("plannerMap.clearRoutes");
    }

    public async Task AddMarkerAsync(MapMarker marker) =>
        await JS.InvokeVoidAsync("plannerMap.addMarker", marker);

    public async Task DrawRouteAsync(string routeName, string color, List<MapMarker> markers) =>
        await JS.InvokeVoidAsync("plannerMap.drawRoute", routeName, color, markers);

    public async Task HighlightRouteAsync(string routeName) =>
        await JS.InvokeVoidAsync("plannerMap.highlightRoute", routeName);

    public async Task ResetHighlightsAsync() =>
        await JS.InvokeVoidAsync("plannerMap.resetHighlights");

    public async Task FitToBoundsAsync() =>
        await JS.InvokeVoidAsync("plannerMap.fitToBounds");

    /////////////////////////////////////////////////////////////////////////



    /// <summary>
    /// ///////////////////// Compute Distance Matrix /////////////////////
    /// </summary>
    /// <returns></returns>
    public async Task<double[][]> ComputeMatrix()
    {
        // Future: call mapInterop.getDistanceMatrix() or send Jobs to API
        return await JS.InvokeAsync<double[][]>("PlannerMap.getDistanceMatrix");
    }

    public class RouteDto
    {
        public string VehicleId { get; set; } = "";
        public List<RoutePoint> Points { get; set; } = new();
    }

    public class RoutePoint
    {
        public double Lat { get; set; }
        public double Lon { get; set; }
    }

    public class JobPoint
    {
        public string Id { get; set; } = "";
        public double Latitude { get; set; }
        public double Longitude { get; set; }
    }

}
