@inject IJSRuntime JS
@inject IConfiguration Config


<div id="map" style="height:600px;width:100%;background-color:#ccc"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var apiKey = Config["GoogleMaps:BrowserApiKey"];
            await JS.InvokeVoidAsync("loadGoogleMaps", apiKey);

            Console.WriteLine("OnAfterRenderAsync fired!");
            await JS.InvokeVoidAsync("initMapEasy");
        }
    }
}
