@inject IJSRuntime JS
@inject IConfiguration Config

<div id="map"
     class="map-container"
     style="height:@Height;width:@Width;">
 </div>

@code {
    [Parameter] public string Width { get; set; } = "100%";
    [Parameter] public string Height { get; set; } = "600px";
    [Parameter] public double DepotLat { get; set; }
    [Parameter] public double DepotLon { get; set; }
    [Parameter] public List<RouteDto>? Routes { get; set; }
    [Parameter] public EventCallback<(double lat, double lng)> JobPositionPicked { get; set; }

    private DotNetObjectReference<GoogleMap>? dotNetRef;

    private readonly List<JobPoint> Jobs = new();
    private int jobCounter = 0;

    private bool _initialized;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetRef = DotNetObjectReference.Create(this);

            var apiKey = Config["GoogleMaps:BrowserApiKey"];
            var apiMapId = Config["GoogleMaps:MapId"];
            await JS.InvokeVoidAsync("loadGoogleMaps", apiKey);
            await JS.InvokeVoidAsync("PlannerMap.initMap", DepotLat, DepotLon, apiMapId);
            await JS.InvokeVoidAsync("PlannerMap.registerClickHandler", dotNetRef, nameof(OnMapClick));

            _initialized = true;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (_initialized && Routes != null)
        {
            await JS.InvokeVoidAsync("PlannerMap.updateRoutes", Routes);
        }
    }

    [JSInvokable]
    public Task OnMapClick(MapClickEvent e)
    {
        // if (JobPositionPicked.HasDelegate)
        //     JobPositionPicked.InvokeAsync((e.Lat, e.Lng));
        return Task.CompletedTask;
    }

    public class MapClickEvent
    {
        public double Lat { get; set; }
        public double Lng { get; set; }
    }

    public async Task ClearRoutes()
    {
        Jobs.Clear();
        jobCounter = 0;
        await JS.InvokeVoidAsync("PlannerMap.clearRoutes");
    }

    public async Task<double[][]> ComputeMatrix()
    {
        // Future: call mapInterop.getDistanceMatrix() or send Jobs to API
        return await JS.InvokeAsync<double[][]>("PlannerMap.getDistanceMatrix");
    }

    public class RouteDto
    {
        public string VehicleId { get; set; } = "";
        public List<RoutePoint> Points { get; set; } = new();
    }

    public class RoutePoint
    {
        public double Lat { get; set; }
        public double Lon { get; set; }
    }

    public class JobPoint
    {
        public string Id { get; set; } = "";
        public double Latitude { get; set; }
        public double Longitude { get; set; }
    }
}
