trigger:
  branches:
    include:
      - main

variables:
  buildConfiguration: 'Release'
  dotnetVersion: '8.0.x'
  azureSubscription: 'Your-Service-Connection-Name'  # From Azure DevOps Service Connections
  webAppNameApi: 'planner-api'
  webAppNameBlazor: 'planner-blazor'
  resourceGroup: 'planner-rg'
  sqlServerName: 'planner-sql'
  sqlDatabaseName: 'PlannerDb'
  connectionString: 'Server=tcp:$(sqlServerName).database.windows.net,1433;Initial Catalog=$(sqlDatabaseName);User ID=$(SqlUser);Password=$(SqlPassword);Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;'

stages:
- stage: Build
  displayName: 'Build and Test'
  jobs:
  - template: templates/build.yml

- stage: DeployAPI
  displayName: 'Deploy API to Azure App Service'
  dependsOn: Build
  jobs:
  - template: templates/deploy-api.yml

- stage: DeployBlazor
  displayName: 'Deploy Blazor WebAssembly'
  dependsOn: Build
  jobs:
  - template: templates/deploy-blazor.yml
