name: Deploy Blazor App
on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: windows-latest   # 👈 change from ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Publish Blazor app
        run: dotnet publish src/Planner.BlazorApp/Planner.BlazorApp.csproj -c Release -o publish /p:UseAppHost=false

      - name: Deploy to Azure WebApp
        uses: azure/webapps-deploy@v3
        with:
          app-name: planner-blazorapp
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISH_PROFILE_BLAZOR }}
          package: ./publish
