name: Deploy Blazor App to Azure Web App (Windows)

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore .\Planner.BlazorApp\Planner.BlazorApp.csproj

    - name: Build
      run: dotnet build .\Planner.BlazorApp\Planner.BlazorApp.csproj --configuration Release --no-restore

    - name: Publish
      run: dotnet publish .\Planner.BlazorApp\Planner.BlazorApp.csproj --configuration Release --no-build -o .\publish

    # 🔐 Login to Azure using Service Principal
    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # 🚀 Deploy to Azure Web App
    - name: Deploy to Azure WebApp
      uses: azure/webapps-deploy@v3
      with:
        app-name: 'planner-blazorapp'
        package: '.\publish'
